# Sugar Company Nigerian
.gradle/
Company Register with CAC

# content creator/fashion designer computer Application

# Log/OS Files
*.log

# cameral laptor machaine /
.cxx/
*.apk
output.json

# IntelliJ
*.iml
.idea/
misc.xml
facebook,instagram,youtube,sanpchat,tiktok,whatsapp

# Keystore files
*.jks
*.keystore

# Google Services (http//www.sugarsecretcompany.com

# Android Profiling
*.hprof
